TZ=Australia/Sydney
APPS_SCRIPT_URL=https://script.google.com/macros/s/XXXXX/exec
API_KEY=same-key-as-script-property
CP_USER=your@crazyparts.login
CP_PASS=yourpassword
TPH_USER=your@partshome.login
TPH_PASS=yourpassword
# RUN_NOW=1   # uncomment for immediate pull on start (testing)
